:root {
    --first-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
    --accent-color: #2196F3;
    --background-hero: #2F303A;
    --background-command: #f5f4fa;
    --active-modal-button: #188ce8;
    --navigation-color: #212121;
    --main-color: #ffffff;
    --light-theme: #000000;
    --tel-color: #757575;
    --contact-link: rgba(255, 255, 255, 0.6);
}
body {
    font-family: var(--first-font);
    background: var(--main-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.link.current {
    color: var(--accent-color);
}

/* ============== COMPONENTS ============== */

.logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-item {
    color: var(--accent-color);
}
.logo-light-theme {
    color: var(--light-theme);
}
.logo-dark-theme {
    color: var(--main-color);
}
.title {
    font-family: var(--first-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--navigation-color);
}
.modal-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.modal-button:hover,
.modal-button:focus {
    color: var(--main-color);
    background-color: var(--active-modal-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--tel-color);
}
.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color);
}

/* ============== END COMPONENTS ============== */


/* ============== HEADER ============== */

.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--navigation-color);
}
.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

/* ============== END HEADER ============== */


/* ============== HERO ============== */

.hero {
    overflow: auto;
    background-color: var(--background-hero);
}
.hero-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
}

/* ============== END HERO ============== */


/* ============== ABOUT US ============== */

.about-title {
    font-family: var(--first-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navigation-color);
}
.suptitle {
    font-family: var(--first-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--tel-color);
}

/* ============== END ABOUT US ============== */


/* ============== OUR WORK ============== */


/* ============== END OUR WORK ============== */


/* ============== OUR COMMAND ============== */

.profession-command {
    font-family: var(--first-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--navigation-color);
}
.profession {
    font-family: var(--first-font);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--tel-color);
}
.command {
    background-color: var(--background-command);
}
/* ============== END OUR COMMAND ============== */


/* ============== PORTFOLIO ============== */

.portfolio-name {
    font-family: var(--first-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--navigation-color);
}
.description {
    font-family: var(--first-font);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--tel-color);
}
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--navigation-color);
    background: var(--background-command);
}
.button:hover,
.button:focus {
   color: var(--main-color);
   background: var(--accent-color);
}
.hidden {
    display: none;
}

/* ============== END PORTFOLIO ============== */



/* ============== FOOTER ============== */

.footer {
    overflow: auto;
    background: var(--background-hero);
}
.contact-link {
    font-family: var(--first-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact-link);
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/* ============== END FOOTER ============== */
